# .gitignore

# intermediate files
*.py[cod]
*.so
*.swp
_notes.md

## Unit test / coverage reports
.coverage
.tox
nosetests.xml

# directories and files
scr/
tmp/
venv/
pd-images/*
!pd-images/*.png
*/pd-images/

# ignore example pdf's, except for sample.pdf
examples/*.pdf
!examples/sample.pdf


# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
__pycache__

